<div class="grid-item">
    <div class="grid-item-content">
	    <label class="grid-item-close"><span aria-hidden="true">&times;</span></label>
		<div class="container-fluid donation_card_small">	
			<div class="row" style="">
				<div class="col-lg-12">	
					<div class="donation_card_small_img"></div>	
					<div class="donation_card_small_title">兩岸菁英學生交流計畫</div>
					<div class="donation_card_small_content"><%= truncate("交通大學於兩岸分設五個校區，彼此素有相當的歷史淵源背景，各自於專長領域發展。為擴展兩岸交大間之良性發展與互動關係，奠定未來研究及學術合作廣大基礎。本會特創造兩岸交大學生一個新的溝通和交流方式，建立彼此互信的感情，促使兩岸之間學術、文化與人員的交流。", length: 60)%></div>
					<button type="button" class="btn btn-primary btn-block grid-item-button">點擊贊助</button>		
				</div>			
			</div>	
		</div>  
		<div class="container-fluid donation_card_enlarge">	
			<div class="row" style="">
				<div class="col-sm-6">	
					<div class="donation_card_enlarge_img"></div>	
					<div class="donation_card_enlarge_title">兩岸菁英學生交流計畫</div>
					<div class="donation_card_enlarge_content">交通大學於兩岸分設五個校區，彼此素有相當的歷史淵源背景，各自於專長領域發展。為擴展兩岸交大間之良性發展與互動關係，奠定未來研究及學術合作廣大基礎。本會特創造兩岸交大學生一個新的溝通和交流方式，建立彼此互信的感情，促使兩岸之間學術、文化與人員的交流。</div>
					<button type="button" class="btn btn-primary btn-block grid-item-button">點擊贊助</button>		
				</div>
				<div class="col-sm-6">	
					<div class="donation_card_pie"></div>
				</div>				
			</div>	
			<div class="row" style="">
				<div class="col-sm-12">	
					<div class="donation_card_pie" style="background:#cacaca"></div>
				</div>				
			</div>				
		</div> 		
	</div>
</div>