<div class="grid-news-item col-xs-12 col-sm-4 col-md-3">
	<div class="grid-news-item-content">
		<label class="grid-news-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<label class="grid-news-item-button" id="<%= id_id_id %>">閱讀更多</label>		
		<div class="container-fluid news_card_small">	
			<div class="row" style="">
				<div class="col-sm-12">	
					<div class="news_card_small_title">兩岸菁英學生交流計畫</div>
					<div class="news_card_small_content"><%= truncate("漫威電影宇宙系列電影是一個美國超級英雄系列電影，根據漫威漫畫出版物中的角色改編。這些電影自2007年開始製作，至今漫威影業已經製作了9部電影，另有4部正處於不同的製作階段。這一系列的全球電影票房成績已經突破63.7億美元，在所有系列電影中排行第二，僅次於《哈利·波特》系列。凱文·菲戈是已上映的所有每部漫威電影宇宙作品的製片人，阿維·阿拉德製作了2008年出品的兩部電影，蓋爾·安妮·赫德也是《無敵浩克》的製作人。這些電影的編劇和導演往往各不相同，但大都有多位名演員共同演出。包括小羅伯特·唐尼、克里斯·海姆斯沃斯、克里斯·埃文斯和塞繆爾·傑克遜在內的多位男演員已經簽訂了出演多部電影的合約。漫威電影宇宙的開山之作是2008年的《鋼鐵俠》，由派拉蒙電影發行，該公司之後還將發行2010年的《鋼鐵俠2》，2011年的《雷神》和《美國隊長》；環球影業則發行了2008年的《無敵浩克》。沃爾特·迪斯尼電影公司從2012年的跨界電影《復仇者聯盟》開始接手系列電影發行，該片也是這一系列第一階段的最後一彈。第二階段電影包括2013年的《鋼鐵俠3》和《雷神2：黑暗世界》，2014年的《美國隊長2》，另有兩部電影正在製作：2014年的《銀河護衛隊》和2015年的《復仇者聯盟2》。計劃於2015年上映的《蟻人》將是這一系列第三階段電影的首部作品，其後是2016年上映的《美國隊長3》。此外，2016年還有計劃上映另一部電影，2017年兩部，但片名尚未公布。", length: 120)%></div>
				</div>			
			</div>	
		</div> 
		<div class="container-fluid news_card_enlarge">	
			<div class="row" style="">
				<div class="col-sm-12">	
					<div class="news_card_enlarge_title">兩岸菁英學生交流計畫</div>
					<div class="news_card_enlarge_content">漫威電影宇宙系列電影是一個美國超級英雄系列電影，根據漫威漫畫出版物中的角色改編。這些電影自2007年開始製作，至今漫威影業已經製作了9部電影，另有4部正處於不同的製作階段。這一系列的全球電影票房成績已經突破63.7億美元，在所有系列電影中排行第二，僅次於《哈利·波特》系列。凱文·菲戈是已上映的所有每部漫威電影宇宙作品的製片人，阿維·阿拉德製作了2008年出品的兩部電影，蓋爾·安妮·赫德也是《無敵浩克》的製作人。這些電影的編劇和導演往往各不相同，但大都有多位名演員共同演出。包括小羅伯特·唐尼、克里斯·海姆斯沃斯、克里斯·埃文斯和塞繆爾·傑克遜在內的多位男演員已經簽訂了出演多部電影的合約。漫威電影宇宙的開山之作是2008年的《鋼鐵俠》，由派拉蒙電影發行，該公司之後還將發行2010年的《鋼鐵俠2》，2011年的《雷神》和《美國隊長》；環球影業則發行了2008年的《無敵浩克》。沃爾特·迪斯尼電影公司從2012年的跨界電影《復仇者聯盟》開始接手系列電影發行，該片也是這一系列第一階段的最後一彈。第二階段電影包括2013年的《鋼鐵俠3》和《雷神2：黑暗世界》，2014年的《美國隊長2》，另有兩部電影正在製作：2014年的《銀河護衛隊》和2015年的《復仇者聯盟2》。計劃於2015年上映的《蟻人》將是這一系列第三階段電影的首部作品，其後是2016年上映的《美國隊長3》。此外，2016年還有計劃上映另一部電影，2017年兩部，但片名尚未公布。</div>		
				</div>				
			</div>	
		</div> 				
	</div>
</div>