<div class="container-fluid about_top">
	<div class="about_top_background_image"></div>
	<div class="row" style="position:relative; z-index:2;">
		<div class="col-lg-offset-4 col-lg-4 col-sm-offset-2 col-sm-8" style="height: 70vh;">
			
		</div>
	</div>		
</div>	
<div class="container-fluid">
	<div class="row">
		<div class="col-lg-offset-4 col-lg-4 col-sm-offset-2 col-sm-8" style="height: 200vh;">			
		</div>
	</div>		
</div>