<div class="container-fluid board_member" style="min-height: 100vh;">
	<div class="board_member_background_image hidden-xs hidden-sm hidden-md"></div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="board_member_container">			
				<div class="text-center board_member_title">
					<div>The 8th<span style="color: #b3a253;"> Board</span></div>
					<div style="font-size: 12px; letter-spacing: 0px;">From July 1st, 2015 To June 30th, 2018</div>
				</div>
				<div class="board_member_sub_title">
					Honorary Directors	
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Nita Ing</span>_Chairman, Continental Engineering Corp.<div></div>
					<span class="board_member_content_name">Stan Shih</span>_Chairman, Stans Foundation<div></div>
					<span class="board_member_content_name">Ding-Hua Hu</span>_Chairman, Champion Consulting Group, Inc.<div></div>
					<span class="board_member_content_name">Andrew Chiu</span>_Chairman, Chew’s Culture Foundation<div></div>
					<span class="board_member_content_name">Ho-Ming Huang</span>_Chairman, Atelligent Global Consulting Corp.<div></div>
					<span class="board_member_content_name">George Huang</span>_Chairman, Acer Group	
				</div>
				<div class="board_member_sub_title">
					Chairman	
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Max Wu</span>_Chairman, Birch Venture Capital	<div></div>
				</div>
				<div class="board_member_sub_title">
					Exec. Directors	
				</div>
				<div class="board_member_content">	
					<span class="board_member_content_name">David Lin</span>_Honorary Vice Chairman, Lite-On Group<div></div><span class="board_member_content_name">Peter Chen</span>_Chairman, SagaGroup Limited<div></div>
					<span class="board_member_content_name">Shan-Ko Hsu</span>_Chairman, Hestia Power Inc.<div></div><span class="board_member_content_name">K.C. Liu</span>_Chairman, Advantech Co., Ltd.<div></div>
					<span class="board_member_content_name">Martin Lu</span>_Chairman, SpringSoft Education Foundation<div></div><span class="board_member_content_name">Chun-Yen Chang</span>_National Endowed Chair Professor, NCTU<div></div>	
					<span class="board_member_content_name">Han-Ping Shieh</span>_Vice Chancellor, University System of Taiwan<div></div><span class="board_member_content_name">Mark Wei</span>_Chairman, KGI Bank<div></div>				
				</div>				
				<div class="board_member_sub_title">
					Directors
				</div>
				<div class="board_member_content">					
					<span class="board_member_content_name">Ping-lung Wang</span>_Chairman, Harvatek Corp.<div></div><span class="board_member_content_name">Barry Ta-Hsien Lo</span>_General Director, ITRI College<div></div>Richard Chiang_Chairman, Princeton Technology Corp.<div></div>
					<span class="board_member_content_name">Khein-Seng Pua</span>_Chairman, Phison Electronics Corporation<div></div><span class="board_member_content_name">Chin-Chang Wu</span>_Chairman, Sunfar Computer Co., Ltd.<div></div>Peter Lin_Chairman, Zero One Technology Co., Ltd.<div></div>
					<span class="board_member_content_name">Sin-Horng Chen</span>_Senior Vice President, NCTU<div></div><span class="board_member_content_name">Mei-Ling Huang</span>_Vice President for Student Affairs, NCTU<div></div>Charlie C.H. Chen_Senior Vice President, NCTU<div></div>Min-Teh Yu_Chair Professor, NCTU<div></div>
					<span class="board_member_content_name">Carlos Lin</span>_General Manager, Evergreen Laurel Hotel (Taipei)<div></div><span class="board_member_content_name">William Wang</span>_CEO, Crystalvue Medical Corp.<div></div>Light Lin_CEO, Venue<div></div>
					<span class="board_member_content_name">Wayne Huang</span>_Chairman, Armorize Technology Inc.<div></div><span class="board_member_content_name">Michael Kuo</span>_CEO, HukuiBio<div></div>Ken Yang_President, WIND MUSIC International Corp.<div></div>
					<span class="board_member_content_name">Richard Lee</span>_Chairman, Innodisk Corp.<div></div><span class="board_member_content_name">Chi-Jen Chou</span>_CEO, Professional Management Association of HsinChu									
				</div>	
				<div class="board_member_sub_title">
					Exec. Supervisors
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Jimmy Huang</span>_Chairman, EverMore Inc.
				</div>
				<div class="board_member_sub_title">
					Supervisors
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Daniel Tsai</span>_CSO, Taishin Financial Holding Co., Ltd.<div></div><span class="board_member_content_name">Mayor Wu</span>_Chairman, Promaster Technology Corp.<div></div>
					<span class="board_member_content_name">Edward-Yi Chang</span>_Senior Vice President, NCTU<div></div><span class="board_member_content_name">Shyh-Jye Jou</span>_Director General, Department of International Cooperation and Science Education, 
Ministry of Science and Technology, R.O.C<div></div>
				</div>	
				<div class="board_member_sub_title">
					Former Board Lists	
				</div>	
				<div class="board_member_content">
					<%= link_to t("下載"), '/main/downloadBoardLists', class: ''%>
				</div>																						
			</div>	
				
		</div>
	</div>		
</div>	