<div class="container-fluid board_member" style="min-height: 100vh;">
	<div class="board_member_background_image hidden-xs hidden-sm hidden-md"></div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="board_member_container text-center">
				<div class="text-center board_member_title">
					<div>第九屆董事會<span style="color: #b3a253;">成員</span></div>
					<div style="font-size: 12px;letter-spacing: 3px;">2018年7月1日~2021年6月30日</div>
				</div>
				<div class="board_member_sub_title">
					榮譽董事
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">胡定華</span>／建邦顧問董事長<div></div>
					<span class="board_member_content_name">殷琪</span>／大陸工程董事長<div></div>
					<span class="board_member_content_name">黃河明</span>／悅智顧問董事長<div></div>
					<span class="board_member_content_name">施振榮</span>／智融集團董事長<div></div>
					<span class="board_member_content_name">邱再興</span>／邱再興文教基金會董事長<div></div>
					<span class="board_member_content_name">黃少華</span>／宏碁集團前董事長<div></div>
					<span class="board_member_content_name">吳廣義</span>／旭樺創投董事長<div></div>
				</div>
				<div class="board_member_sub_title">
					董事長
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">林嘉勲</span>／零壹科技董事長<div></div>
				</div>
				<div class="board_member_sub_title">
					常務董事
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">林行憲</span>／林仲鋆文教基金會董事長<div></div>
					<span class="board_member_content_name">劉克振</span>／研華科技董事長<div></div>
					<span class="board_member_content_name">魏寶生</span>／凱基商銀董事長<div></div>
					<span class="board_member_content_name">汪秉龍</span>／宏齊科技董事長<div></div>
					<span class="board_member_content_name">陳信宏</span>／交通大學副校長<div></div>
					<span class="board_member_content_name">盧明光</span>／中美矽晶董事長<div></div>
					<span class="board_member_content_name">朱博湧</span>／交通大學教授<div></div>
					<span class="board_member_content_name">宋貴修</span>／嘉彰公司董事長<div></div>
				</div>
				<div class="board_member_sub_title">
					董事
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">楊錦聰</span>／風潮音樂總經理<div></div>
					<span class="board_member_content_name">林福僑</span>／義大皇家酒店總經理<div></div>
					<span class="board_member_content_name">周吉人</span>／新竹市企業經理協進會秘書長<div></div>
					<span class="board_member_content_name">吳錦昌</span>／順發電腦董事長<div></div>
					<span class="board_member_content_name">蔡孟峯</span>／台新金控策略長<div></div>
					<span class="board_member_content_name">黃鋕銘</span>／長茂科技董事長<div></div>
					<span class="board_member_content_name">彭新淼</span>／白金科技執行長<div></div>
					<span class="board_member_content_name">趙書華</span>／創微精密材料董事長<div></div>
					<span class="board_member_content_name">孫慶宗</span>／嘉晶電子總經理<div></div>
					<span class="board_member_content_name">黃美月</span>／阿奇八八科技董事長<div></div>
					<span class="board_member_content_name">李明哲</span>／台灣新思科技台灣區總經理<div></div>
					<span class="board_member_content_name">李榮琳</span>／台灣網路認證公司董事長<div></div>
					<span class="board_member_content_name">沈上謙</span>／Google亞太行動技術副總<div></div>
					<span class="board_member_content_name">洪毓祥</span>／資策會數位轉型研究所副所長<div></div>
					<span class="board_member_content_name">楊志偉</span>／Wonder Workshop亞太區總經理<div></div>
					<span class="board_member_content_name">黃育綸</span>／交通大學副教授<div></div>
					<span class="board_member_content_name">黃乙白</span>／交通大學教授<div></div>
					<span class="board_member_content_name">黃經堯</span>／交通大學教授<div></div>
				</div>
				<div class="board_member_sub_title">
					常務監事
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">吳銘雄</span>／彥陽科技董事長
				</div>
				<div class="board_member_sub_title">
					監事
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">吳惠蘭</span>／安侯建業聯合會計師事務所執業會計師<div></div>
					<span class="board_member_content_name">曾成德</span>／國立交通大學人社院院長<div></div>
					<span class="board_member_content_name">劉典謨</span>／國立交通大學教授<div></div>
					<span class="board_member_content_name">溫瓌岸</span>／國立交通大學教授<div></div>
				</div>
				<div class="board_member_sub_title">
					歷屆董監事名單
				</div>
				<div class="board_member_content">
					<%= link_to t("下載"), '/main/downloadBoardLists', class: ''%>
				</div>
			</div>

		</div>
	</div>
</div>
