<div class="container-fluid board_member" style="min-height: 100vh;">
	<div class="board_member_background_image"></div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="board_member_container">			
				<div class="text-center board_member_title">
					The <span style="color: #b3a253;">Board</span>	
				</div>
				<div class="board_member_sub_title">
					Honorary Directors	
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Nita Ing</span>／Chairman, Continental Engineering Corp.<br>
					<span class="board_member_content_name">Stan Shih</span>／Chairman, Stans Foundation<br>
					<span class="board_member_content_name">Ding-Hua Hu</span>／Chairman, Champion Consulting Group, Inc.<br>
					<span class="board_member_content_name">Andrew Chiu</span>／Chairman, Chew’s Culture Foundation<br>
					<span class="board_member_content_name">Ho-Ming Huang</span>／Chairman, Atelligent Global Consulting Corp.<br>
					<span class="board_member_content_name">George Huang</span>／Chairman, Acer Group	
				</div>
				<div class="board_member_sub_title">
					Chairman	
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Max Wu</span>／Chairman, Birch Venture Capital	<br>
				</div>
				<div class="board_member_sub_title">
					Exec. Directors	
				</div>
				<div class="board_member_content">	
					<span class="board_member_content_name">David Lin</span>／Honorary Vice Chairman, Lite-On Group<br><span class="board_member_content_name">Peter Chen</span>／Chairman, SagaGroup Limited<br>
					<span class="board_member_content_name">Shan-Ko Hsu</span>／ Chairman, Hestia Power Inc.<br><span class="board_member_content_name">K.C. Liu</span>／Chairman, Advantech Co., Ltd.<br>
					<span class="board_member_content_name">Martin Lu</span>／ Chairman, SpringSoft Education Foundation<br><span class="board_member_content_name">Chun-Yen Chang</span>／National Endowed Chair Professor, NCTU<br>	
					<span class="board_member_content_name">Han-Ping Shieh</span>／Vice Chancellor, University System of Taiwan<br><span class="board_member_content_name">Mark Wei</span>／Chairman, KGI Bank<br>				
				</div>				
				<div class="board_member_sub_title">
					Directors
				</div>
				<div class="board_member_content">					
					<span class="board_member_content_name">Ping-lung Wang</span>／Chairman, Harvatek Corp.<br><span class="board_member_content_name">Barry Ta-Hsien Lo</span>／General Director, ITRI College<br>Richard Chiang／Chairman, Princeton Technology Corp.<br>
					<span class="board_member_content_name">Khein-Seng Pua</span>／Chairman, Phison Electronics Corporation<br><span class="board_member_content_name">Chin-Chang Wu</span>／Chairman, Sunfar Computer Co., Ltd.<br>Peter Lin／Chairman, Zero One Technology Co., Ltd.<br>
					<span class="board_member_content_name">Sin-Horng Chen</span>／Senior Vice President, NCTU<br><span class="board_member_content_name">Mei-Ling Huang</span>／Vice President for Student Affairs, NCTU<br>Charlie C.H. Chen／Senior Vice President, NCTU<br>Min-Teh Yu／Chair Professor, NCTU<br>
					<span class="board_member_content_name">Carlos Lin</span>／General Manager, Evergreen Laurel Hotel (Taipei)<br><span class="board_member_content_name">William Wang</span>／CEO, Crystalvue Medical Corp.<br>Light Lin／CEO, Venue<br>
					<span class="board_member_content_name">Wayne Huang</span>／Chairman, Armorize Technology Inc.<br><span class="board_member_content_name">Michael Kuo</span>／CEO, HukuiBio<br>Ken Yang／President, WIND MUSIC International Corp.<br>
					<span class="board_member_content_name">Richard Lee</span>／Chairman, Innodisk Corp.<br><span class="board_member_content_name">Chi-Jen Chou</span>／CEO, Professional Management Association of HsinChu									
				</div>	
				<div class="board_member_sub_title">
					Exec. Supervisors
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Jimmy Huang</span>／Chairman, EverMore Inc.
				</div>
				<div class="board_member_sub_title">
					Supervisors
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Daniel Tsai</span>／CSO, Taishin Financial Holding Co., Ltd.<br><span class="board_member_content_name">Mayor Wu</span>／Chairman, Promaster Technology Corp.<br>
					<span class="board_member_content_name">Edward-Yi Chang</span>／Senior Vice President, NCTU<br><span class="board_member_content_name">Shyh-Jye Jou</span>／Director General, Department of International Cooperation and Science Education, 
Ministry of Science and Technology, R.O.C<br>
				</div>																		
			</div>	
				
		</div>
	</div>		
</div>	