<div class="container-fluid board_member" style="min-height: 100vh;">
	<div class="board_member_background_image hidden-xs hidden-sm hidden-md"></div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="board_member_container">
				<div class="text-center board_member_title">
					<div>The 9th<span style="color: #b3a253;"> Board</span></div>
					<div style="font-size: 12px; letter-spacing: 0px;">From July 1st, 2018 To June 30th, 2021</div>
				</div>
				<div class="board_member_sub_title">
					Honorary Directors
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Ding-Hua Hu</span>_Chairman, Champion Consulting Group, Inc.<div></div>
					<span class="board_member_content_name">Nita Ing</span>_Chairman, Continental Engineering Corp<div></div>
					<span class="board_member_content_name">Ho-Ming Huang</span>_Chairman, Atelligent Global Consulting Corp<div></div>
					<span class="board_member_content_name">Stan Shih</span>_Chairman, Stans Foundation<div></div>
					<span class="board_member_content_name">Andrew Chiu</span>_Chairman, Chew’s Culture Foundation<div></div>
					<span class="board_member_content_name">George Huang</span>_Former Chairman, Acer Group<div></div>
					<span class="board_member_content_name">Max Wu</span>_Chairman, Birch Venture Capital<div></div>
				</div>
				<div class="board_member_sub_title">
					Chairman
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Peter Lin</span>_Chairman, Zero One Technology Co., Ltd.<div></div>
				</div>
				<div class="board_member_sub_title">
					Exec. Directors
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">David Lin</span>_Chairman, C.Y.LIN Cultural Foundation<div></div>
					<span class="board_member_content_name">K.C. Liu</span>_Chairman, Advantech Co., Ltd.<div></div>
					<span class="board_member_content_name">Mark Wei</span>_Chairman, KGI Bank<div></div>
					<span class="board_member_content_name">Ping-lung Wang</span>_Chairman, Harvatek Corp<div></div>
					<span class="board_member_content_name">Sin-Horng Chen</span>_Senior Vice President, NCTU<div></div>
					<span class="board_member_content_name">M.K.Lu</span>_Chairman, Sino-American Silicon Products Inc.<div></div>
					<span class="board_member_content_name">Po-Young Chu</span>_Professor, NCTU<div></div>
					<span class="board_member_content_name">Roger Sung</span>_Chairman, Chia Chang Co., LTD<div></div>
				</div>
				<div class="board_member_sub_title">
					Directors
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Ken Yang</span>_President, Wind Music International Corp.<div></div>
					<span class="board_member_content_name">Carlos Lin</span>_General Manager, E-DA Royal Hotel<div></div>
					<span class="board_member_content_name">Chi-Jen Chou</span>_Secretary-general, Chinese Professional Management Association of Hsinchu<div></div>
					<span class="board_member_content_name">Chin-Chang Wu</span>_Chairman, Sunfar Computer Co., Ltd.<div></div>
					<span class="board_member_content_name">Daniel Tsai</span>_CSO, Taishin Financial Holdings Co., Ltd.<div></div>
					<span class="board_member_content_name">Jimmy Huang</span>_Chairman, EverMore Inc.<div></div>
					<span class="board_member_content_name">Henry Peng</span>_CEO, Platinum Optics Tech. Inc.<div></div>
					<span class="board_member_content_name">Lillian Chao</span>_Chairman, Apex Material Technology Corp.<div></div>
					<span class="board_member_content_name">CT Sune</span>_President, Episil-Precision Inc.<div></div>
					<span class="board_member_content_name">Anne M. Huang</span>_Chairman, Arch88 Technology Limited<div></div>
					<span class="board_member_content_name">Robert Li</span>_President, Synopsys (Taiwan)<div></div>
					<span class="board_member_content_name">Stephen Lee</span>_Chairman, Taiwan-CA Inc.<div></div>
					<span class="board_member_content_name">Victor Shen</span>_Head of Mobile Solutions Consultants, Google<div></div>
					<span class="board_member_content_name">Garfield Hung</span>_Deputy Director General, Institute for Information Industry<div></div>
					<span class="board_member_content_name">Brian Yang</span>_General Manager, Wondef Workshop Inc. (USA)<div></div>
					<span class="board_member_content_name">Yu-Lun Huang</span>_Associate Professor, NCTU<div></div>
					<span class="board_member_content_name">Yi-Pai B. Huang</span>_Professor, NCTU<div></div>
					<span class="board_member_content_name">Ching Yao Huang</span>_Professor, NCTU<div></div>
				</div>
				<div class="board_member_sub_title">
					Exec. Supervisors
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Mayor Wu</span>_Chairman, Promaster Technology Corp.
				</div>
				<div class="board_member_sub_title">
					Supervisors
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">Celia Wu</span>_Partner, KPMG<div></div>
					<span class="board_member_content_name">C David Tseng</span>_Dean, College of Humanities and Social Sciences,	NCTU<div></div>
					<span class="board_member_content_name">Dean-Mo Liu</span>_Professor, NCTU<div></div>
					<span class="board_member_content_name">Kuei Ann Wen</span>_Professor, NCTU<div></div>
				</div>
			</div>

		</div>
	</div>
</div>
