<div class="container-fluid board_member" style="min-height: 100vh;">
	<div class="board_member_background_image"></div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="board_member_container">			
				<div class="text-center board_member_title">
					第八屆董事會<span style="color: #b3a253;">成員</span>	
				</div>
				<div class="board_member_sub_title">
					榮譽董事	
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">殷琪</span>／大陸工程公司董事長│<span class="board_member_content_name">施振榮</span>／智榮基金會董事長<br>
					<span class="board_member_content_name">胡定華</span>／建邦顧問公司董事長│<span class="board_member_content_name">邱再興</span>／邱再興文教基金會董事長<br>
					<span class="board_member_content_name">黃河明</span>／悅智全球顧問公司董事長│<span class="board_member_content_name">黃少華</span>／宏碁集團董事長	
				</div>
				<div class="board_member_sub_title">
					董事長	
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">吳廣義</span>／旭樺創投董事<br>
				</div>
				<div class="board_member_sub_title">
					常務董事	
				</div>
				<div class="board_member_content">	
					<span class="board_member_content_name">林行憲</span>／光寶集團榮譽副董事長│<span class="board_member_content_name">陳榮祥</span>／碩英公司董事長<br>
					<span class="board_member_content_name">徐善可</span>／瀚薪科技公司董事長│<span class="board_member_content_name">劉克振</span>／研華科技董事長<br>
					<span class="board_member_content_name">呂茂田</span>／種子教育基金會董事長│<span class="board_member_content_name">張俊彥</span>／交大終身講座教授<br>	
					<span class="board_member_content_name">謝漢萍</span>／台聯大副校長│<span class="board_member_content_name">魏寶生</span>／凱基銀行董事長<br>				
				</div>				
				<div class="board_member_sub_title">
					董事
				</div>
				<div class="board_member_content">					
					<span class="board_member_content_name">汪秉龍</span>／宏齊科技董事長│<span class="board_member_content_name">羅達賢</span>／工研院產業學院執行長│姜長安／普誠科技公司董事長<br>
					<span class="board_member_content_name">潘健成</span>／群聯電子公司董事長│<span class="board_member_content_name">吳錦昌</span>／順發電腦公司董事長│林嘉勳／零壹科技公司董事長<br>
					<span class="board_member_content_name">陳信宏</span>／交大副校長│<span class="board_member_content_name">黃美鈴</span>／交大學務長│陳俊勳／交大副校長│俞明德／交大講座教授<br>
					<span class="board_member_content_name">林福僑</span>／長榮桂冠酒店(台北) 總經理│<span class="board_member_content_name">王威</span>／明達醫學董事長│林弘全／濕地公司總經理<br>
					<span class="board_member_content_name">黃耀文</span>／阿碼科技公司執行長│<span class="board_member_content_name">郭加泳</span>／互貴興業公司執行長│楊錦聰／風潮音樂總經理<br>
					<span class="board_member_content_name">李鐘亮</span>／宜鼎國際董事長│<span class="board_member_content_name">周吉人</span>／新竹市企業經理協進會秘書長									
				</div>	
				<div class="board_member_sub_title">
					常務監事
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">黃鋕銘</span>／長茂科技公司董事長
				</div>
				<div class="board_member_sub_title">
					監事
				</div>
				<div class="board_member_content">
					<span class="board_member_content_name">蔡孟峯</span>／台新金控策略長│<span class="board_member_content_name">吳銘雄</span>／彥陽科技董事長<br>
					<span class="board_member_content_name">張翼</span>／交大副校長│<span class="board_member_content_name">周世傑</span>／科技部科教發展及國際合作司司長<br>
				</div>	
				<div class="board_member_sub_title">
					歷屆董監事名單	
				</div>	
				<div class="board_member_content">
					<%= link_to t("下載"), '/main/downloadBoardLists', class: ''%>
				</div>																								
			</div>	
				
		</div>
	</div>		
</div>	