<div class="container-fluid contact_us" style="min-height: 100vh;">
	<div class="contact_us_background_image hidden-xs"></div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="contact_us_container text-center">			
				<div class="contact_us_title">
					聯絡<span style="color: #19aaa3;">資訊</span>	
				</div>		
				<div class="">地址：300 新竹市大學路1001號</div>	
				<div class="">電話：03-5725931 傳真：03-5725934</div>	
				<div class="contact_us_idv">			
					<div class="contact_us_name">
						<span class="contact_us_position">執行長</span>
					</div>	
					<div class="">黃種智</div>	
					<div class="">分機 #13</div>	
					<div class=""><a href="mailto:georgehwangtw@gmail.com" target="_top">georgehwangtw@gmail.com</a></div>																				
				</div>					
				<div class="contact_us_idv">								
					<div class="contact_us_name">
						<span class="contact_us_position">辦公室主任</span>
					</div>	
					<div class="">黃淑滿</div>						
					<div class="">分機 #14</div>	
					<div class=""><a href="mailto:smhuang@mail.nctu.edu.tw" target="_top">smhuang@mail.nctu.edu.tw</a></div>																				
				</div>
				<div class="contact_us_idv">			
					<div class="contact_us_name">
						<span class="contact_us_position">執行秘書</span>
					</div>	
					<div class="">林殷如</div>
					<div class="">分機 #12</div>	
					<div class=""><a href="mailto:estherlin@nctu.edu.tw" target="_top">estherlin@nctu.edu.tw</a></div>																				
				</div>
				<!--	
				<%= image_tag 'contact.jpg', class: 'contact_us_img'%>
				-->					
			</div>	
				
		</div>
	</div>		
</div>