<div class="container-fluid contact_us" style="min-height: 100vh;">
	<div class="contact_us_background_image hidden-xs"></div>
	<div class="row">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="contact_us_container text-center">			
				<div class="contact_us_title">
					Contact<span style="color: #19aaa3;">   Information</span>	
				</div>		
				<div class="">Address: 1001, Ta Hsueh Road, Hsin-Chu City,Taiwan, R.O.C.</div>	
				<div class="">Tele：03-5725931 Fax：03-5725934</div>	
				<div class="contact_us_idv">			
					<div class="contact_us_name">
						<span class="contact_us_position">CEO</span>
					</div>	
					<div class="">George Hwang</div>						
					<div class="">Ext #13</div>	
					<div class="">
					<a href="mailto:georgehwangtw@gmail.com" target="_top">georgehwangtw@gmail.com</a>
					</div>																				
				</div>					
				<div class="contact_us_idv">								
					<div class="contact_us_name">
						<span class="contact_us_position">Office Manager</span>
					</div>	
					<div class="">Sandy Hwang</div>	
					<div class="">Ext #14</div>	
					<div class=""><a href="mailto:smhuang@mail.nctu.edu.tw" target="_top">smhuang@mail.nctu.edu.tw</a></div>																				
				</div>
				<div class="contact_us_idv">			
					<div class="contact_us_name">
						<span class="contact_us_position">Executive Secretary</span>
					</div>	
					<div class="">Esther Lin</div>						
					<div class="">Ext #12</div>	
					<div class=""><a href="mailto:estherlin@nctu.edu.tw" target="_top">estherlin@nctu.edu.tw</a></div>																				
				</div>
				<!--	
				<%= image_tag 'contact.jpg', class: 'contact_us_img'%>
				-->					
			</div>	
				
		</div>
	</div>		
</div>