<div class="container-fluid contact_us" style="min-height: 100vh;">
	<div class="contact_us_background_image"></div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="contact_us_container text-center">			
				<div class="contact_us_title">
					聯絡<span style="color: #19aaa3;">資訊</span>	
				</div>		
				<div class="">地址：300 新竹市大學路1001號</div>	
				<div class="">電話：03-5725931 傳真：03-5725934</div>	
				<div class="contact_us_idv">			
					<div class="contact_us_name">金城武</div>	
					<div class="">分機 #32123</div>	
					<div class="">abc@spring.org.tw</div>																				
				</div>
				<div class="contact_us_idv">			
					<div class="contact_us_name">安心亞</div>	
					<div class="">分機 #32123</div>	
					<div class="">abc@spring.org.tw</div>																				
				</div>	
				<div class="contact_us_idv">			
					<div class="contact_us_name">金城武</div>	
					<div class="">分機 #32123</div>	
					<div class="">abc@spring.org.tw</div>																				
				</div>
				<div class="contact_us_idv">			
					<div class="contact_us_name">安心亞</div>	
					<div class="">分機 #32123</div>	
					<div class="">abc@spring.org.tw</div>																				
				</div>	
				<!--	
				<%= image_tag 'contact.jpg', class: 'contact_us_img'%>
				-->					
			</div>	
				
		</div>
	</div>		
</div>