<div class="container-fluid contact_us" style="min-height: 100vh;">
	<div class="contact_us_background_image"></div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="contact_us_container text-center">			
				<div class="contact_us_title">
					Contact<span style="color: #19aaa3;">   Information</span>	
				</div>		
				<div class="">Address: 1001, Ta Hsueh Road, Hsin-Chu City,Taiwan, R.O.C.</div>	
				<div class="">Tele：03-5725931 Fax：03-5725934</div>	
				<div class="contact_us_idv">			
					<div class="contact_us_name">
						<span class="contact_us_position">CEO</span>George Huang
					</div>	
					<div class="">Ext #10</div>	
					<div class="">georgehwangtw@gmail.com</div>																				
				</div>					
				<div class="contact_us_idv">								
					<div class="contact_us_name">
						<span class="contact_us_position">Executive Secretary</span>Sandy Huang
					</div>	
					<div class="">Ext #14</div>	
					<div class="">smhuang@mail.nctu.edu.tw</div>																				
				</div>
				<div class="contact_us_idv">			
					<div class="contact_us_name">
						<span class="contact_us_position">Executive Secretary</span>Rita Ling
					</div>	
					<div class="">Ext #13</div>	
					<div class="">rita@mail.nctu.edu.tw</div>																				
				</div>	
				<div class="contact_us_idv">			
					<div class="contact_us_name">
						<span class="contact_us_position">Executive Secretary</span>Esther Ling
					</div>	
					<div class="">分機 #12</div>	
					<div class="">estherlin@nctu.edu.tw</div>																				
				</div>
				<!--	
				<%= image_tag 'contact.jpg', class: 'contact_us_img'%>
				-->					
			</div>	
				
		</div>
	</div>		
</div>