<div class="container-fluid">
	<div class="row text-center">
		<div class="col-lg-12 text-center">		
		<div class="donation_summary">
			<div class="donation_summary_inner">
				<span class="donation_summary_number">28,888,321</span> <span class="donation_summary_en">NTW</span>	
			</div>
			<div class="donation_range text-right">累積期間 2016/01/01~2016/04/13</div>	
		</div>
		</div>
	</div>		
</div>	
<div class="grid">
	<% Project.all.each do |project|%>
		<%=render "donation_card", project: project%>	
	<% end %>	 	
</div>	
<div class="container-fluid">
	<div class="row" style="margin-bottom: 40px;">
		<div class="col-lg-offset-3 col-lg-6 text-center">	
		<button type="button" class="btn btn-block donation_project_button" data-toggle="modal" data-target="#myModal">委辦計畫查詢</button>
		</div>
	</div>		
</div>	

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">委辦計畫查詢</h4>
      </div>
      <div class="modal-body">        
		<form class="form-inline" id="login_form">
		  <div class="form-group">
		    <label for="exampleInputName2">計畫帳號</label>
		    <input type="text" class="form-control" id="login_name" placeholder="Jane Doe">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail2">計畫密碼</label>
		    <input type="email" class="form-control" id="login_pass" placeholder="jane.doe@example.com">
		  </div>
		  <button type="submit" class="btn btn-default">查詢</button>
		</form>              
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>






<script>
//============================= masonry =============================//
var $grid = $('.grid').masonry({
  columnWidth: '.grid-item',
  itemSelector: '.grid-item',
  percentPosition: true
  //gutter: '.gutter-sizer',    
});
$grid.on( 'click', '.grid-item-button', function( event ) {
  $( event.currentTarget ).closest('.grid-item').toggleClass('is-expanded');
  $grid.masonry();
  
  $("#doughnutChart_"+event.currentTarget.id).drawDoughnutChart([
    { title: "人事", value: parseInt($('#doughnutChart_'+event.currentTarget.id).attr('data-exp_personnel')),  color: "#02a0eb" },
    { title: "雜支", value: parseInt($('#doughnutChart_'+event.currentTarget.id).attr('data-exp_business')),   color: "#c070a3" },
    { title: "業務", value: parseInt($('#doughnutChart_'+event.currentTarget.id).attr('data-exp_mix')),   color: "#f4a301" },
    { title: "其他", value: parseInt($('#doughnutChart_'+event.currentTarget.id).attr('data-exp_other')),   color: "#b3a253" }
  ], {tipClass: "doughnutTip "+"doughnutTip_"+event.currentTarget.id});  
  
});

$grid.on( 'click', '.grid-item-close', function( event ) {
  $( event.currentTarget ).closest('.grid-item').toggleClass('is-expanded');
  $grid.masonry();
  $("#doughnutChart_"+event.currentTarget.id).empty();
  $(".doughnutTip_"+event.currentTarget.id).remove();
});
//============================= radio =============================//
$('.form_group_donation').hide() 
$('input[type=radio][name=receipt]').change(function() {
	if (this.value == 'true') {
       $('.form_group_donation_'+this.id).slideDown("slow");              
    }
    else if (this.value == 'false') {
       $('.form_group_donation_'+this.id).slideUp("slow");    
    }
});
//============================= sponsor =============================//
$('.donation_sponsor_content').hide() 
$( ".donation_sponsor .glyphicon" ).click(function() {	
	
	if ($(this).hasClass( "glyphicon-triangle-bottom" )) {
       $(this).removeClass( "glyphicon-triangle-bottom")
       $(this).addClass( "glyphicon-triangle-top")			
       $('.donation_sponsor_content_'+this.id).slideDown("slow");              
    }
    else if ($(this).hasClass( "glyphicon-triangle-top" )) {
       $(this).removeClass( "glyphicon-triangle-top")
       $(this).addClass( "glyphicon-triangle-bottom")		
       $('.donation_sponsor_content_'+this.id).slideUp("slow");    
    }
    		    		
});

//============================= project login =============================//

$( "#login_form" ).submit(function( event ) {
  	event.preventDefault();
	if ($("#login_name").val().length < 1 || $("#login_pass").val().length < 1) {
	    toastr['warning']('請輸入帳號密碼')	
	    return false;
	}

	$.ajax({
		type: "POST",
		cache: false,
		url: "/projects/checkLogin",
		data: $(this).serializeArray(),
		dataType: 'json',
		success: function(data) {
			if (data.success) {
    		}else{
    		}
		}
	});
	return false;
});

/*
$("#login_form").bind("submit", function() {
	
		alert(132);
	
	if ($("#login_name").val().length < 1 || $("#login_pass").val().length < 1) {
	    $("#login_error").show();
	    return false;
	}
	
	alert(132);
	
	$.ajax({
		type		: "POST",
		cache	: false,
		url		: "/projects/check_login",
		data		: $(this).serializeArray(),
		dataType: 'json',
		success: function(data) {
			if (data.success) {
      			window.location.href = data.location;
    		}else{
    			window.location.href = data.location;
    			$.fancybox.hideLoading();
    		}
		}
	});

	return false;

});
*/
</script>
