<div class="container-fluid meetings" style="min-height: 100vh;">
	<div class="meetings_background_image hidden-xs hidden-sm hidden-md"></div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="meetings_container text-center">			
				<div class="meetings_title">
					近三年<span style="color: rgb(244, 163, 1);">重要會務記事</span>	
					<div style="font-size: 12px;letter-spacing: 3px;">2012年7月~2015年12月</div>				
				</div>
<div class="text-left" style="margin: 0 auto; width: 400px;">
<div class="meetings_content"><span class="meetings_date">2012~2015</span> 梅竹講堂</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> 兩岸菁英學生交流計畫</div>
<div class="meetings_content"><span class="meetings_date">2012~2014</span> 交控人才培育計畫</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> 國五交通管理策略模擬及實證研發計畫</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> 創業與創新學分學程</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> 液晶顯示產學交流計畫</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> 贊助交大軟實力計畫</div>
<div class="meetings_content"><span class="meetings_date">2012</span> 協助交大音樂學分學程建立鋼琴實驗室</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> 協助交大研發處申請中國專利</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> 協助交大推動開放教育平台</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> 協助AISEC 國際人才研習計畫</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> 協助舉辦梅竹黑客松</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> 協助交大創新創業社團</div>
<div class="meetings_content"><span class="meetings_date">2015</span> 協助交大建築所威尼斯雙年展</div>
<div class="meetings_content"><span class="meetings_date">2014~2015</span> 思源科學創意大賽plus</div>
<div class="meetings_content"><span class="meetings_date">2015</span> 校園創業種子基金</div>	
</div>																						
			</div>	
				
		</div>
	</div>		
</div>	