<div class="container-fluid meetings" style="min-height: 100vh;">
	<div class="meetings_background_image hidden-xs hidden-sm hidden-md"></div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="meetings_container text-center">			
				<div class="meetings_title">
					Chronicle of <span style="color: #f4a301;">Major Events</span>
				</div>
<div class="text-left" style="margin: 0 auto; width: 380px;">
<div class="meetings_content">
	<div class="meetings_date">2012~2015</div> 
	<div class="meetings_description">Mei-Chu Lecture</div>
</div>
<div class="meetings_content">
	<div class="meetings_date">2012~2015</div> 
	<div class="meetings_description">Cross-strait Elite Student Exchange Program</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2012~2014</span> 
	<div class="meetings_description">Traffic Control Talent Cultivation Program</div>
</div>	
<div class="meetings_content">
	<span class="meetings_date">2012~2015</span> 
	<div class="meetings_description">R&D Program for Traffic Management of Taiwan Freeway No-5 with Strategy Analog 
and Demonstration</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2012~2015</span> 
	<div class="meetings_description">Venture Innovation Program</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2012~2015</span>
	<div class="meetings_description">LCD Academia-Industry Exchange Program</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2012~2015</span> 
	<div class="meetings_description">Supporting NCTU Soft Power Program</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2012</span> 
	<div class="meetings_description">Supporting establishment of Piano Lab for NCTU Music Credit Program</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2012~2015</span>
	<div class="meetings_description">Assisting NCTU Office of Research and Development in patent application in China</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2012~2015</span> 
	<div class="meetings_description">Assisting NCTU in promoting Open Course Platform</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2012~2015</span> 
	<div class="meetings_description">Supporting the AISEC international talent study program</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2012~2015</span> 
	<div class="meetings_description">Supporting the Mei-Chu Hackathon</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2012~2015</span> 
	<div class="meetings_description">Supporting the NCTU Venture Innovation Club</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2015</span> 
	<div class="meetings_description">Assisting NCTU Graduate Institute of Architecture in participating in the Venice 
Architecture Biennale</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2014~2015</span> 
	<div class="meetings_description">Spring Scientific Creativity Contest plus</div>
</div>
<div class="meetings_content">
	<span class="meetings_date">2015</span> 
	<div class="meetings_description">Campus Entrepreneurship Seed Fund</div>	
</div>
</div>																						
			</div>	
				
		</div>
	</div>		
</div>	