<div class="container-fluid meetings" style="min-height: 100vh;">
	<div class="meetings_background_image"></div>
	<div class="row">
		<div class="col-lg-offset-2 col-lg-8">
			<div class="meetings_container text-center">			
				<div class="meetings_title">
					Chronicle of Major Events
				</div>

<div class="meetings_content"><span class="meetings_date">2012~2015</span> Mei-Chu Lecture</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> Cross-strait Elite Student Exchange Program</div>
<div class="meetings_content"><span class="meetings_date">2012~2014</span> Traffic Control Talent Cultivation Program</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> R&D Program for Traffic Management of Taiwan Freeway No-5 with Strategy Analog 
and Demonstration</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> Venture Innovation Program</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> LCD Academia-Industry Exchange Program</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> Supporting NCTU Soft Power Program</div>
<div class="meetings_content"><span class="meetings_date">2012</span> Supporting establishment of Piano Lab for NCTU Music Credit Program</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> Assisting NCTU Office of Research and Development in patent application in China</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> Assisting NCTU in promoting Open Course Platform</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> Supporting the AISEC international talent study program</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> Supporting the Mei-Chu Hackathon</div>
<div class="meetings_content"><span class="meetings_date">2012~2015</span> Supporting the NCTU Venture Innovation Club</div>
<div class="meetings_content"><span class="meetings_date">2015</span> Assisting NCTU Graduate Institute of Architecture in participating in the Venice 
Architecture Biennale</div>
<div class="meetings_content"><span class="meetings_date">2014~2015</span> Spring Scientific Creativity Contest plus</div>
<div class="meetings_content"><span class="meetings_date">2015</span> Campus Entrepreneurship Seed Fund</div>	
																						
			</div>	
				
		</div>
	</div>		
</div>	