<div class="container-fluid">
  <!-- add extra container element for Masonry -->
  <div class="grid-news">
    <div class="grid-news-sizer col-xs-12 col-sm-4 col-md-3"></div>
    
    
    <div class="grid-news-item col-xs-12 col-sm-8 col-md-6">
      <div class="grid-news-item-content"></div>
    </div>
    
	<%=render "news_card_text", id_id_id: 3 %>	    
    
    <div class="grid-news-item col-xs-12 col-sm-4 col-md-3">
      <div class="grid-news-item-content"></div>
    </div>
    
    <div class="grid-news-item col-xs-12 col-sm-4 col-md-3">
      <div class="grid-news-item-content grid-news-item-content--height2"></div>
    </div>

	<%=render "news_card_image", id_id_id: 4 %>	        
 
    
    <div class="grid-news-item col-xs-12 col-sm-8 col-md-6">
      <div class="grid-news-item-content"></div>
    </div>
    
		    
    <div class="grid-news-item col-xs-12 col-sm-4 col-md-3">
      <div class="grid-news-item-content grid-news-item-content--height2"></div>
    </div>
    
    
    <div class="grid-news-item col-xs-12 col-sm-4 col-md-3">
      <div class="grid-news-item-content"></div>
    </div>
    <div class="grid-news-item col-xs-12 col-sm-4 col-md-3">
      <div class="grid-news-item-content"></div>
    </div>
  </div>
</div>

<script>
//============================= masonry =============================//
var $grid = $('.grid-news').masonry({
  itemSelector: '.grid-news-item',
  columnWidth: '.grid-news-sizer',
  percentPosition: true
});







$grid.on( 'click', '.grid-news-item-button', function( event ) {
  $( event.currentTarget ).closest('.grid-news-item').toggleClass('is-expanded');
  $grid.masonry();
});



$grid.on( 'click', '.grid-news-item-close', function( event ) {
  $( event.currentTarget ).closest('.grid-news-item').toggleClass('is-expanded');
  $grid.masonry();
});

</script>