<div class="container-fluid">
  <!-- add extra container element for Masonry -->
  <div class="grid-news">
    <div class="grid-news-sizer col-xs-6 col-sm-4 col-md-3"></div>
    <div class="grid-news-item col-xs-6 col-sm-8 col-md-6">
      <!-- add inner element for column content -->
      <div class="grid-news-item-content"></div>
    </div>
    <div class="grid-news-item col-xs-6 col-sm-4 col-md-3">
      <div class="grid-news-item-content"></div>
    </div>
    <div class="grid-news-item col-xs-6 col-sm-4 col-md-3">
      <div class="grid-news-item-content grid-news-item-content--height2"></div>
    </div>
    <div class="grid-news-item col-xs-6 col-sm-8 col-md-6">
      <div class="grid-news-item-content"></div>
    </div>
    <div class="grid-news-item col-xs-6 col-sm-4 col-md-3">
      <div class="grid-news-item-content grid-news-item-content--height2"></div>
    </div>
    <div class="grid-news-item col-xs-6 col-sm-4 col-md-3">
      <div class="grid-news-item-content"></div>
    </div>
    <div class="grid-news-item col-xs-6 col-sm-4 col-md-3">
      <div class="grid-news-item-content"></div>
    </div>
  </div>
</div>

<script>
//============================= masonry =============================//
var $grid = $('.grid-news').masonry({
  itemSelector: '.grid-news-item',
  columnWidth: '.grid-news-sizer',
  percentPosition: true
});




$grid.on( 'click', '.grid-news-item-button', function( event ) {
  $( event.currentTarget ).closest('.grid-news-item').toggleClass('is-expanded');
  $grid.masonry();
  
  $("#doughnutChart_"+event.currentTarget.id).drawDoughnutChart([
    { title: "人事", value : 120,  color: "#02a0eb" },
    { title: "雜支", value:  80,   color: "#c070a3" },
    { title: "業務", value:  70,   color: "#f4a301" },
    { title: "其他", value : 50,   color: "#b3a253" }
  ], {tipClass: "doughnutTip "+"doughnutTip_"+event.currentTarget.id});  
  
});

$grid.on( 'click', '.grid-news-item-close', function( event ) {
  $( event.currentTarget ).closest('.grid-news-item').toggleClass('is-expanded');
  $grid.masonry();
  $("#doughnutChart_"+event.currentTarget.id).empty();
  $(".doughnutTip_"+event.currentTarget.id).remove();
});

</script>