<div class="container-fluid">
  <!-- add extra container element for Masonry -->
  <div class="grid-news">
    <div class="grid-news-sizer col-xs-12 col-sm-4 col-md-3"></div>
    <% Story.all.order('id desc').each do |s| %>
    	<% if s.pictures.size == 0 and s.video_url.blank? %>
    		<%= render "news_card_text", news: s %>
    	<% elsif s.pictures.size == 0 and !s.video_url.blank?%>	    	
    		<%= render "news_card_video", news: s %>    	
    	<% elsif s.pictures.size != 0 and s.video_url.blank?%>	
    		<%= render "news_card_image", news: s %>  
    	<% end %>
    <% end %>
  </div>
</div>

<script>
//============================= masonry =============================//
var $grid = $('.grid-news').masonry({
  itemSelector: '.grid-news-item',
  columnWidth: '.grid-news-sizer',
  percentPosition: true
});







$grid.on( 'click', '.grid-news-item-button', function( event ) {
  $( event.currentTarget ).closest('.grid-news-item').toggleClass('is-expanded');
  $grid.masonry();
});



$grid.on( 'click', '.grid-news-item-close', function( event ) {
  $( event.currentTarget ).closest('.grid-news-item').toggleClass('is-expanded');
  $grid.masonry();
});

</script>