	<div class="col-md-4">
	  <table class="table backend_index_table">
	  	<tbody>
	      <tr>
	        <td colspan="2"><%= user.email %></td>
	      </tr>
	      <tr style="text-align: center;">
		    <td colspan="2">
	        	<%= link_to new_confirmation_path(:user) , class: 'edit-btn' , style: "margin-right: 5px;" do %>重寄註冊信<% end %>
	        	<%= link_to '刪除', user, method: :delete, data: { confirm: 'Are you sure?' } , class: 'delete-btn'%>
		    </td>
	      </tr>
	    </tbody>
	  </table>
	</div>
