<div class="container">
	<div class="row">
		<h3>使用者</h3>
	</div>
</div>
<div class="container-fluid">
	<div class="row">	
		<div class="col-md-offset-9">
			<%= link_to "新增", new_user_registration_path, class: 'btn btn-info add-btn' %>
		</div>
	</div>
</div>

<div class="container">
	<div class="col-md-offset-1 col-md-9">
		  <!-- Table -->
		  <table class="table table-striped table-hover " style="margin-top: 12px; ">
		  	<tbody>
		    <% @users.each do |user| %>
		      <tr data-link="<%= user_path(user) %>">
		        <td><%= user.email %></td>
		      </tr>
		    <% end %>
		  </tbody>
		  </table>
	</div>
</div>

<br>
<script>
$("tr").click(function() {
  window.location = $(this).data("link")
})
</script>
