<div class="container" style="margin-bottom: 20px;">
  <div class="row">
	<h3 class="col-sm-5 ">User</h3>
  </div>
</div>
<div class="container-fluid">
	<div class="row">	
		<div class="col-md-offset-7">
  			<%= link_to "重寄註冊信", new_confirmation_path(:user) , class: 'btn btn-default'%>
			<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-danger'%>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row">
	  <div class="col-md-3 col-md-offset-2">Email</div>
	  <div class="col-md-4"> <%= @user.email %></div>
	</div>
</div>

