<div class="container" style="margin-bottom: 20px;">
  <div class="row">
	<h3 class="col-sm-5 ">使用者</h3>
  </div>
</div>
<div class="container-fluid">
	<div class="row">
	  <div class="col-md-3 col-md-offset-2 show-title">Email</div>
	  <div class="col-md-4 show-content"> <%= @user.email %></div>
	</div>
</div>

