<div class="container">
	<div class="row">
		<div class="col-md-12">	
			<h3 style="letter-spacing: 2px;">捐款</h3>	
			<%= link_to "新增", new_donation_path, class: 'add-btn pull-right' %>				
		</div>		
	</div>
</div>
<div class="container">
	<div class="row">
		<% @donations.order('id desc').each do |donation| %>
			<%= render "sub_donation_table", donation: donation %>
		<% end %>
    </div>	
</div>

