<%= link_to project_path(project) do %>
	<div class="col-md-2">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><%= project.name %></h3>
		  </div>
		  <div class="panel-body" style="text-align: center;">
		  	<% if project.pj_cover.exists? %>
		 	<%= image_tag project.pj_cover.url , :size => "100x100", :style =>"margin:0 auto;"%>
		 	<% else %>
		 	<%= image_tag "/assets/noPhoto-icon.png" , :size => "100x100", :style =>"margin:0 auto;"%>
		 	<% end %>
		  </div>
		</div>
	</div>
<% end %>