<%= link_to donation_path(donation) do %>
	<div class="col-md-4">
	  <table class="table backend_index_table">
	  	<tbody>
	      <tr>
	        <th>連絡人: </th>
	        <td><%= donation.name %></td>
	      </tr>
	      <tr>
	        <th>金額: </th>
	        <td><%= donation.amount %></td>
	      </tr>
	      <tr>
	        <th>方式: </th>
	        <td><%= Hash[donateWayOptions].rassoc(donation.donate_way).first %></td>
	      </tr>
	      <tr>
	      	<% if donation.donate %>
	      		<th>已捐款</th>
	      	<% else %>
	      		<th>尚未捐款</th>
	      	<% end %>
	      </tr>
	      <tr>
	    </tbody>
	  </table>
	</div>
<% end %>