<div class="container">
	<div class="row">
		<div class="col-md-12">	
			<h3 style="letter-spacing: 2px;">相關連結</h3>
			<%= link_to "新增", new_link_path, class: 'add-btn pull-right' %>
		</div>		
	</div>
</div>
<div class="container">
	<div class="row">
		<% @links.each do |link| %>
			<%= render "sub_link_table", link: link %>		
		<% end %>
	</div>
</div>

<script>
</script>
