<div class="container">
	<div class="row">
		<h3>相關連結</h3>
	</div>
</div>
<div class="container-fluid">
	<div class="row">	
		<div class="col-md-offset-9">
			<%= link_to "新增連結", new_link_path, class: 'btn btn-info' %>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="column">
			<table class="table">
				<tbody>
					<% @links.each do |link| %>
					<tr data-link="<%= link_path(link) %>">
						<td><%= link.name %></td>
        				<td><%= link.web_addr %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
$("tr").click(function() {
  window.location = $(this).data("link")
})
</script>
