<div class="container">
	<div class="row">
		<h3>最新消息</h3>
	</div>
</div>
<div class="container-fluid">
	<div class="row">	
		<div class="col-md-offset-9">
			<%= link_to "新增", new_story_path, data: { no_turbolink: true }, class: 'btn btn-info add-btn' %>
		</div>
	</div>
</div>
<div class="container">
	<% @stories.each_with_index do |story, index| %>
    	<%= render "sub_story_table", story: story , index:index%>
	<% end %>
</div>

<script>
	<% @stories.each do |story| %>
	  $('.read-more-<%= story.id %>').on('click', function(e) {
	    e.preventDefault()
	    $(this).parent().html('<%= story.description.gsub("\r\n", "\\n") %>')
	  })
	<% end %>
</script>
