<div class="container">
	<div class="row">
		<div class="col-md-12">	
			<h3 style="letter-spacing: 2px;">消息</h3>
			<%= link_to "新增", new_story_path, data: { no_turbolink: true }, class: 'add-btn pull-right' %>				
		</div>		
	</div>
</div>
<div class="container">
		<% @stories.order('news_date desc').each_with_index do |story, index| %>
    		<%= render "sub_story_table", story: story , index: index%>
		<% end %>
</div>

<script>
	<% @stories.each do |story| %>
	  $('.read-more-<%= story.id %>').on('click', function(e) {
	    e.preventDefault()
	    $(this).parent().html('<%= story.description.gsub("\r\n", "\\n") %>')
	  })
	<% end %>
</script>
