<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content" style="	
	background: url('<%= asset_path 'about/plus.jpg' %>');
	background-size:cover;
	background-position: center center;	
 -webkit-filter: grayscale(.7);
  filter: grayscale(.7);">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small grid-plan-item-button" id="<%= id_id_id %>">	
			<a href="/main/donation#grid-item-button_17"><span class="plan_card_small_title" style="background-color:rgba(166, 166, 166, 0.6); padding: 10px;">思源科學創意大賽<sup style="font-style: italic;">plus</sup></span></a>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">思源科學創意大賽<sup>plus</sup></div>
			<div class="plan_card_enlarge_content">科技浪潮不斷翻轉，典範不斷轉移，未來人才需要具有多元整合的能力。為協助交大吸引除成績優異外，另具獨立思考、創意及團隊合作之高中生，本會自2014 年與交通大學合作，接手舉辦本競賽活動( 原主辦單位為思源科技教育基金會)。這項活動每年吸引近千位高中學子組隊參賽，運用骨牌連接，融入化學及物理科學知識，設計成創意科學關卡，活動考驗智力、耐心、細心及團隊合作精神以及創意的發揮。並逐步將交大電機資訊特色融入比賽，讓比賽內容更加多元豐富。</div>		
		</div> 		
	</div>
</div>