<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content" style="	
	background: url('<%= asset_path 'about/aesthetic.jpg' %>');
	background-size:cover;
	background-position: center center;	
 -webkit-filter: grayscale(.7);
  filter: grayscale(.7);">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small grid-plan-item-button" id="<%= id_id_id %>">	
			<a href="/main/donation#grid-item-button_5"><span class="plan_card_small_title" style="background-color:rgba(166, 166, 166, 0.6); padding: 10px;">Build up An Artistic and Culturally Rich Campus</span></a>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">Build up An Artistic and Culturally Rich Campus</div>
			<div class="plan_card_enlarge_content">
				To flavor a science-and-technology dominated university like NCTU with accents of literature and art and set up a living environment blended with science, technology, literature and art, this Foundation continues to support a variety of art shows and activities. With years of great efforts, the NCTU Arts Center has become a leading player in campus arts across Taiwan, highlighted by its highly regarded performing arts programs.
			</div>		
		</div> 		
	</div>
</div>