<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content" style="	
	background: url('<%= asset_path 'about/background.jpg' %>');
	background-size:cover;
	background-position: center center;	
 -webkit-filter: grayscale(.7);
  filter: grayscale(.7);">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small grid-plan-item-button" id="<%= id_id_id %>">	
			<span class="plan_card_small_title" style="color: #ffffff; background-color:rgba(166, 166, 166, 0.6); padding: 10px;">爭取國際菁英就讀</span>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">爭取國際菁英就讀</div>
			<div class="plan_card_enlarge_content">國際化是世界一流大學指標，因此各國莫不積極爭取國際優秀學生。為因應教育部對大學國際化要求之政策，交大除建置國際化校園提供外籍生優質的學習環境，並努力赴各國宣傳吸引國際菁英來台就學。本會除挹注經費協助，並扮演交大國際生與校友企業的平台，協助媒合有國際化人才需求的企業。</div>		
		</div> 		
	</div>
</div>