<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content" style="	
	background: url('<%= asset_path 'about/plan_3.jpg' %>');
	background-size:cover;
	background-position: center center;	
 -webkit-filter: grayscale(.7);
  filter: grayscale(.7);">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small grid-plan-item-button" id="<%= id_id_id %>">	
			<span class="plan_card_small_title" style="color: #ffffff; background-color:rgba(166, 166, 166, 0.6); padding: 10px;">Venture Innovation Program</span>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">Venture Innovation Program</div>
			<div class="plan_card_enlarge_content">
				This program is a cross-college, cross-industry and academia and even, in the future, a cross-border integrated platform of venture innovation. This Foundation has built up this platform to let every participant create values and achieve benefits for all involved. Students are expected to learn the process and mechanism of innovation venture from related activities and from participating industry experts and teachers, all while expanding their personal social network.
			</div>		
		</div> 		
	</div>
</div>