<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small text-center grid-plan-item-button" id="<%= id_id_id %>">	
			<div class="plan_card_small_title">創業與創新學程</div>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">創業與創新學程</div>
			<div class="plan_card_enlarge_content">本學程是一個跨學院、跨產學，未來甚至是跨國界整合性的創業創新平台。本會藉由協助此一平台的建立，讓很多參與的人皆能產生價值，彼此均能受益。學生可以從這些參與的業界專家、老師，從它的活動瞭解創業創新的流程跟機制，同時也可以建立個人的人脈。</div>		
		</div> 		
	</div>
</div>