<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content" style="	
	background: url('<%= asset_path 'about/plus.jpg' %>');
	background-size:cover;
	background-position: center center;	
 -webkit-filter: grayscale(.7);
  filter: grayscale(.7);">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small grid-plan-item-button" id="<%= id_id_id %>">	
			<a href="/main/donation#grid-item-button_4"><span class="plan_card_small_title" style="background-color:rgba(166, 166, 166, 0.6); padding: 10px;">Holding Spring Scientific Creativity Contest<sup style="font-style: italic;">plus</sup></span></a>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">Holding Spring Scientific Creativity Contest<sup>plus</sup></div>
			<div class="plan_card_enlarge_content">
				Given waves of science and technology advancements and changes in generations of role models, versatility shall be a must to talents in the future. To help NCTU to absorb academically excellent high-school students, who are also good at independent thinking, creativity and teamwork, this Foundation has cooperated with NCTU in hosting this contest, which draws nearly 1,000 high-school teamed up students annually. With domino-game-like knowledge integration of chemistry and physics, the contest is to be played in the manner of scientific creativity objectives to challenge the participant’s intelligence quotient, patience, attentiveness, teamwork spirit and creativity. NCTU’s characteristic ICT is expected to be integrated in the contest to make it even more rich and diversified.
			</div>		
		</div> 		
	</div>
</div>