<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small text-center grid-plan-item-button" id="<%= id_id_id %>">	
			<div class="plan_card_small_title">校園創業種子基金</div>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">校園創業種子基金</div>
			<div class="plan_card_enlarge_content">有鑑於校園創業團隊多半為學生，在創業過程最初始艱困階段，不易獲得企業與VC青睞，而失去將技術商品化的機會，本會集結熱心校友募集資金，設立本種子基金，給予校園創業團隊第一桶金的支持，期望未來能產生更多的交大企業家。獲補助且創業有成的團隊，要回饋給種子基金，藉此建立良性循環，落實飲水思源精神。</div>		
		</div> 		
	</div>
</div>