<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content" style="	
	background: url('<%= asset_path 'about/plan_4.jpg' %>');
	background-size:cover;
	background-position: center center;	
 -webkit-filter: grayscale(.7);
  filter: grayscale(.7);">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small grid-plan-item-button" id="<%= id_id_id %>">	
			<a href="/main/donation#grid-item-button_8"><span class="plan_card_small_title" style="color: #ffffff; background-color:rgba(166, 166, 166, 0.6); padding: 10px;">NCTU Venture Eco-system Promotion Program</span></a>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">NCTU Venture Eco-system Promotion Program</div>
			<div class="plan_card_enlarge_content">
				This integrated program, which was proposed and formulated by the Center for Academia and Industry Collaboration, offers a field with more opportunities for students to innovate their thinking and make friends with more foreign people, students and innovation experts. It encourages students to form clubs, such as NCTU-IEC and NCTU Strong Chance, and offers opportunities to the members for enjoying advanced knowledge, expanding social connections and exchanging venture experiences, in a bid to improve “ability for innovation” and “spirit of entrepreneurship” among NCTU students.
			</div>		
		</div> 		
	</div>
</div>