<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content" style="	
	background: url('<%= asset_path 'about/plan_4.jpg' %>');
	background-size:cover;
	background-position: center center;	
 -webkit-filter: grayscale(.7);
  filter: grayscale(.7);">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small grid-plan-item-button" id="<%= id_id_id %>">	
			<span class="plan_card_small_title" style="color: #ffffff; background-color:rgba(166, 166, 166, 0.6); padding: 10px;">交大創業Eco-system</span>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">交大創業Eco-system</div>
			<div class="plan_card_enlarge_content">交大產學運籌中心所擘劃建立之整合計畫，提供園地來培養學生開擴更多創新思考的機會，結交更多國際人士、學生及創新專家。並鼓勵學生組成社團，如創新創業社及社會企業創思社。並提供社員進階知識學習、創業人脈拓展、創業經驗交流之機會，以提升交大學生的「創新能力」與「創業精神」。</div>		
		</div> 		
	</div>
</div>