<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small text-center grid-plan-item-button" id="<%= id_id_id %>">	
			<div class="plan_card_small_title">協助學校研究中心</div>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">協助學校研究中心</div>
			<div class="plan_card_enlarge_content">本會未來將選定交大具潛力與優勢競爭的中心，作為支持的對象，協助促進產學合作、技轉或spin off 成立公司。</div>		
		</div> 		
	</div>
</div>