<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content" style="	
	background: url('<%= asset_path 'about/aesthetic.jpg' %>');
	background-size:cover;
	background-position: center center;	
 -webkit-filter: grayscale(.7);
  filter: grayscale(.7);">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small grid-plan-item-button" id="<%= id_id_id %>">	
			<a href="/main/donation#grid-item-button_5"><span class="plan_card_small_title" style="background-color:rgba(166, 166, 166, 0.6); padding: 10px;">建置藝文化空間</span></a>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">建置藝文化空間</div>
			<div class="plan_card_enlarge_content">為使以科技教育為主的交大校園注入藝文氣息，營造兼具人文、科技、藝術的生活環境，本會長期支持交大藝文空間展演活動。在多年努力耕耘下，交大藝文中心於國內大學校院間扮演校園藝文火車頭的角色，表現亮眼突出，深獲好評。</div>		
		</div> 		
	</div>
</div>