<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content" style="	
	background: url('<%= asset_path 'about/soft.jpg' %>');
	background-size:cover;
	background-position: center center;	
 -webkit-filter: grayscale(.7);
  filter: grayscale(.7);">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small grid-plan-item-button" id="<%= id_id_id %>">	
			<a href="/main/donation#grid-item-button_3"><span class="plan_card_small_title" style="background-color:rgba(166, 166, 166, 0.6); padding: 10px;">Plan of Enhancing Soft Power</span></a>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">Plan of Enhancing Soft Power</div>
			<div class="plan_card_enlarge_content">We are to sponsor NCTU’s Plan of Enhancing Soft Power, recruit international department chairs and brilliant young teachers in an effort to raise the school’s academic research capacity to a world-class level, build first-class research teams, and improve the quality of instruction and research.</div>		
		</div> 		
	</div>
</div>