<div class="grid-plan-item col-xs-12 col-md-6 plan_card_container_<%= id_id_id %>">
	<div class="grid-plan-item-content" style="	
	background: url('<%= asset_path 'about/background.jpg' %>');
	background-size:cover;
	background-position: center center;	
 -webkit-filter: grayscale(.7);
  filter: grayscale(.7);">
		<label class="grid-plan-item-close" id="<%= id_id_id %>"><span aria-hidden="true">&times;</span></label>
		<div class="plan_card_small grid-plan-item-button" id="<%= id_id_id %>">	
			<a href="/main/donation#grid-item-button_6"><span class="plan_card_small_title" style="background-color:rgba(166, 166, 166, 0.6); padding: 10px;">Attract Excellent Students from All over The World</span></a>
		</div> 
		<div class="plan_card_enlarge">	
			<div class="plan_card_enlarge_title">Attract Excellent Students from All over The World</div>
			<div class="plan_card_enlarge_content">
				Global integration is one of key metrics of an international first-class university, whereby each country strives to attract excellent students from all over the world. To respond to the Ministry of Education policy requiring global integration of universities, NCTU has not only constructed its international campus to offer foreign students quality learning space, but also proactively visited countries to promote Taiwain as a study destination to attract top international talents. This Foundation offers financial support for purpose of expenditures, renders a platform for NCTU international students and alumni enterprises, and serves as a bridge between international talents and companies in need.
			</div>		
		</div> 		
	</div>
</div>