.show-title{
  font-size: 22px;
  margin-top: 10px;
  border-left: solid 5px black;
}

.show-content{
  min-height: 31.4333px;
  padding-top: 3px;
  margin-top: 10px;
  font-size: 18px;
  color: #878787;
}

span.glyphicon {
    font-size: 14px;
}

//login panel design

.login-panel{
  margin-top: 53px;
}

.login-head{
  font-size: 23px;
  border-left: 7px solid #194180 !important;  
}

.login-body{
  
}

// donation design
.borderless td, .borderless th {
    border: none;
}

.donation_show_table{
  padding: 0px;
  box-shadow: 0px 0px 12px #b0b0b0;
  background-color: #fff;
  border: none;
  width: 64%;
  margin: 23px auto;
}

.donation_show_table td.dt-title{
  font-weight: 900!important;
  font-size: 16px;
  padding: auto 15px !important;
  color: #000;
  background: #f5f5f5;
  border: none;
}

.donation_show_table td.dt-content{
  font-size: 14px;
  padding: auto 8px !important;
  color: #000;
  background: #fff;
  border:none;
}

//story design

.story_image_container{
  width: 100%;
  height: 0;
  padding-bottom: 70% ; /* % of width, defines aspect ratio*/
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

.story-panel-view-btn{
  font-size: 24px;
  height:39px;
  color: white;
  text-align: center;
  background-color: #09A7CE;
  border-top: solid 2px #00639C; 
}

.story_carousel-inner{
  border-radius: 7px !important;    
}

.story_carousel_img
{  
  width: 100%;
  height: 0;
  padding-bottom: 65%; /* % of width, defines aspect ratio*/
  position: relative;
  margin: 0 auto;
  border-radius: 23px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

//     button design

.add-btn{
  font-size: 14px;  
  letter-spacing: 3px;
  color: #ffffff !important;
  border: none;
  background: #02a0eb;  
  padding: 9px 20px 7px !important; 
  border-radius: 5px !important;
  border-bottom: 2px solid #0279b1 !important; 
}

.no-touch .add-btn:hover, .add-btn:active, .add-btn:focus {
  color: #ffffff;  
  background: #0279b1 !important; 
  text-decoration: none;   
}

.delete-btn{
  font-size: 14px;  
  letter-spacing: 3px;
  color: #ffffff !important;
  border: none;
  background: #b30000;  
  padding: 9px 20px 7px !important; 
  border-radius: 5px !important;
  border-bottom: 2px solid #800000 !important;
}

.no-touch .delete-btn:hover,.btn.delete-btn:active ,.btn.delete-btn:focus {
  color: #ffffff;  
  background: #800000 !important; 
  text-decoration: none;  
}

.edit-btn{
  font-size: 14px;  
  letter-spacing: 3px;
  color: #ffffff !important;
  border: none;
  background: #b3b3b3;  
  padding: 9px 20px 7px !important; 
  border-radius: 5px !important;
  border-bottom: 2px solid #8c8c8c !important;
}

.no-touch .edit-btn:hover,.btn.edit-btn:active ,.btn.edit-btn:focus {
  color: #ffffff;  
  background: #8c8c8c !important; 
  text-decoration: none;  
}

.save-btn{
  width: 70px !important;
  font-size: 16px;
  background-color: #194180;
  border-radius: 5px;
  border: 0px;
}

.btn.save-btn:hover,.btn.save-btn:active ,.btn.save-btn:focus {
    /* here copy default .btn class styles */
    background-color : #194180;
    border: 0px; 
    box-shadow: 1px 1px 5px #157879;
    /* or something like that */
}

.print-btn{
  padding: 5px;
  width: 90px !important;
  text-align: center;
  font-size: 14px;
  background-color: #194180;
  color: #fff;
  border-radius: 5px;
  border: 0px;
}

.btn.print-btn:hover,.btn.print-btn:active ,.btn.print-btn:focus {
    /* here copy default .btn class styles */
    background-color : #194180;
    border: 0px; 
    box-shadow: 1px 1px 5px #157879;
    /* or something like that */
}

.btn-file, .btn:hover{
  background-color: #02A0EB;
  border-color: #02A0EB;
}

.btn-danger, .btn-danger:hover{
  background-color: #F4A301;
  border-color: #F4A301;
}

// links design

.link-td{
  line-height: 34px; 
  font-size: 16px; 
  white-space: nowrap; 
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

// backend index table design
.backend_index_table{
  border-radius: 5px;
  background-color: #fff;
  font-size: 14px;    
  margin-top: 30px;
}

.backend_index_table tr:first-child {
    border-left: solid #194180 5px;
    letter-spacing: 2px;
}

.backend_index_table tr:first-child td {
    padding-top: 10px !important;
    color: #333333;
}

.backend_index_table th{
  font-size: 18px;
  border: none !important;
  min-width: 60px;
  color: #000;
}
.backend_index_table td{
  font-size: 18px;
  border: none  !important;
  color: #878787;
}
.backend_index_table_image{
  height: 200px !important;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
@media (max-width: 992px) {
    .pull-right-lg {
        float: right;
    }
}

.row > h3{
  font-size: 29px;
}
