.show-title{
  font-size: 22px;
  margin-top: 10px;
  border-left: solid 5px black;
}

.show-content{
  min-height: 1px;
  padding-top: 3px;
  margin-top: 10px;
  font-size: 18px;
  color: #878787;
}

span.glyphicon {
    font-size: 14px;
}

//login panel design

.login-panel{
  margin-top: 53px;
}

.login-head{
  font-size: 23px;
  border-left: 7px solid #33CCCC !important;  
}

.login-body{
  
}

// donation design

.donation_backend_table{
  background-color: #fff;
  font-size: 14px;    
  margin-top: 30px;
}
.donation_backend_table th{
  border: none !important;
  min-width: 70px;
  color: #000;
}
.donation_backend_table td{
  border: none  !important;
  color: #878787;
}

.borderless td, .borderless th {
    border: none;
}

.donation_show_table{
  padding: 0px;
  box-shadow: 0px 0px 12px #b0b0b0;
  background-color: #fff;
  border: none;
  width: 64%;
  margin: 23px auto;
}

.donation_show_table td.dt-title{
  font-weight: 900!important;
  font-size: 16px;
  padding: auto 15px !important;
  color: #000;
  background: #f5f5f5;
  border: none;
}

.donation_show_table td.dt-content{
  font-size: 14px;
  padding: auto 8px !important;
  color: #000;
  background: #fff;
  border:none;
}

//story design

.story_image_container{
  width: 100%;
  height: 0;
  padding-bottom: 70% ; /* % of width, defines aspect ratio*/
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

.story-panel-tr{
  width: 100%;
  display: table-row; 
  height: 29px;
}

.story-panel-th{
  width: 20%;
  display: table-cell; 
  margin-right: 10px;
  color: black;
}

.story-panel-td{
  display: table-cell; 
  color: #878787;
}

.story-panel-view-btn{
  font-size: 24px;
  height:39px;
  color: white;
  text-align: center;
  background-color: #09A7CE;
  border-top: solid 2px #00639C; 
}

.story_carousel-inner{
  border-radius: 7px !important;    
}

.story_carousel_img
{  
  width: 100%;
  height: 0;
  padding-bottom: 65%; /* % of width, defines aspect ratio*/
  position: relative;
  margin: 0 auto;
  border-radius: 23px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;  
}

//     button design

.add-btn{
  width: 70px !important;
  font-size: 16px;
  background-color: #33CC99;
  border-radius: 38px;
  border: 0px;
}

.btn.add-btn:hover,.btn.add-btn:active ,.btn.add-btn:focus {
    /* here copy default .btn class styles */
    background-color : #33CC99;
    border: 0px; 
    box-shadow: 1px 1px 5px #167447;
    /* or something like that */
}

.delete-btn{
  width: 70px !important;
  font-size: 16px;
  background-color: #EC7E64;
  border-radius: 38px;
  border: 0px;
}

.btn.delete-btn:hover,.btn.delete-btn:active ,.btn.delete-btn:focus {
    /* here copy default .btn class styles */
    background-color : #EC7E64;
    border: 0px; 
    box-shadow: 1px 1px 5px #B74F37;
    /* or something like that */
}

.edit-btn{
  width: 70px !important;
  font-size: 16px;
  background-color: #fff;
  border-radius: 38px;
  border: 0px;
}

.btn.edit-btn:hover,.btn.edit-btn:active ,.btn.edit-btn:focus {
    /* here copy default .btn class styles */
    background-color : #fff;
    border: 0px; 
    box-shadow: 1px 1px 5px gray;
    /* or something like that */
}

.save-btn{
  width: 70px !important;
  font-size: 16px;
  background-color: #33CCCC;
  border-radius: 38px;
  border: 0px;
}

.btn.save-btn:hover,.btn.save-btn:active ,.btn.save-btn:focus {
    /* here copy default .btn class styles */
    background-color : #33CCCC;
    border: 0px; 
    box-shadow: 1px 1px 5px #157879;
    /* or something like that */
}

.print-btn{
  padding: 5px;
  width: 90px !important;
  text-align: center;
  font-size: 14px;
  background-color: #33CCCC;
  color: #fff;
  border-radius: 38px;
  border: 0px;
}

.btn.print-btn:hover,.btn.print-btn:active ,.btn.print-btn:focus {
    /* here copy default .btn class styles */
    background-color : #33CCCC;
    border: 0px; 
    box-shadow: 1px 1px 5px #157879;
    /* or something like that */
}

// links design

.link-td{
  line-height: 34px; 
  font-size: 16px; 
  white-space: nowrap; 
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

// project design
.project-panel-title{
  white-space: nowrap; 
  max-width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}

