* { box-sizing: border-box; }

body { 
    background: #d9d9d9; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff 0%, #d9d9d9 30%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff 0%, #d9d9d9 30%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff 0%, #d9d9d9 30%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff 0%, #d9d9d9 30%); /* Standard syntax */
}

