
* { box-sizing: border-box; }
body { 
    font-family: 'Microsoft YaHei', Arial;  
    background: #f4f4f4; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 40%);
    background: -o-linear-gradient(#ffffff 0%, #e6e6e6 40%); 
    background: -moz-linear-gradient(#ffffff 0%, #e6e6e6 40%); 
    background: linear-gradient(#ffffff 0%, #e6e6e6 40%);*/
}
body.backend{
    min-height: 100% !important;
    font-family: 'Microsoft JhengHe', serif;  
    background: #f4f4f4; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 30%); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffffff 0%, #e6e6e6 30%); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffffff 0%, #e6e6e6 30%); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffffff 0%, #e6e6e6 30%); /* Standard syntax */
    background-repeat: no-repeat;
}
/*======================================= footer =======================================*/
.footer {
  /*background: #02a0eb;
  color: #ffffff;*/
  background: #ffffff;
  color: #808080;
  padding-bottom: 0px;
  padding-top: 20px;
  font-size: 13px;  
  letter-spacing: 2px;
  
}
.footer_title{
  color: #003f83;
  letter-spacing: 3px; 
  font-size: 17px;
}
.footer ul{
  border-top: 1px solid #e6e6e6;
  padding: 0px; 
  margin: 0px; 
  list-style-type: none;
}
.footer ul li{
  margin-top: 10px;
  margin-bottom: 10px;
}
.footer ul li a{
  color: #808080;
  text-decoration: none;
}
.no-touch .footer ul li a:hover{
  color: #000000;
}
.footer_copyright{
  padding-top: 5px;
  /*border-top: 1px solid #808080;*/
  font-size: 10px;
  letter-spacing: 0px;    
}


