* { box-sizing: border-box; }

body { 
    background: #e6e6e6; /* For browsers that do not support gradients */
    /*
    background: -webkit-linear-gradient(#ffffff 0%, #e6e6e6 30%);
    background: -o-linear-gradient(#ffffff 0%, #e6e6e6 30%); 
    background: -moz-linear-gradient(#ffffff 0%, #e6e6e6 30%); 
    background: linear-gradient(#ffffff 0%, #e6e6e6 30%);*/
}

/*======================================= footer =======================================*/
.footer {
  background: #02a0eb;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 30px;
  border-top: 1px solid #ffffff;
  font-size: 13px;  
  letter-spacing: 2px;
}
.footer_copyright{
  margin-top: 10px;  
  padding-top: 10px;
  border-top: 1px solid #ffffff;
  font-size: 12px;    
}