.menu{
  background: rgba( 255, 255, 255, 1);
  border-bottom: none;
}

.navbar .divider-vertical {
    height: 20px;
    margin: 15px 9px;
    border-right: 1px solid #777;
    //border-left: 1px solid #777;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);    
}


@media (max-width: $screen-sm-min) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}