.menu{
  background: none;
  border-bottom: none;
  position: absolute;
  z-index: 999999;
  width: 100%;
  
}

.navbar .divider-vertical {
    height: 13px;
    margin: 18px 20px;
    border-right: 1px solid #777;
    //border-left: 1px solid #777;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);    
}
.navbar-toggle {
  margin-top: 14px;
  margin-bottom: 14px;
}

.navbar-brand{
  //margin-top: 15px;  
  height: 60px;   
}
.navbar-brand img{
  height: 30px; 
}
.navbar-brand .logo_text_only{
  display: none !important;
}
.navbar-nav{
  letter-spacing: 3px;
}

@media (max-width: 320px) {
   .navbar-brand .logo_text{
      display: none !important;
  }
  .navbar-brand .logo_text_only{
      display: block !important;
  }
}

/*======================================= backend =======================================*/

@media (max-width: $screen-sm-min) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

.backmenubar > li > a{
  color: #c0c0c0 !important;
  font-size: 18px;
  padding: 5px 0px;
  margin: 7.5px 10px;
}

.backmenubar > li > a:hover, .backmenubar > li.active > a, .backmenubar > li.active > a:hover{
    background-color: #fff !important;
    color: #000 !important;
}

.backmenubar{
  margin: 0px !important;
  width: 100% !important;
  min-height: 45px;
  background: rgba( 255, 255, 255, 1);
  border-bottom: none;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, .1);
}

.backmenubar > li > a {
    border-radius: 0px;
}

 
