.menu{
  background: rgba( 255, 255, 255, 1);
  border-bottom: none;
}

.navbar .divider-vertical {
    height: 20px;
    margin: 15px 9px;
    border-right: 1px solid #777;
    //border-left: 1px solid #777;
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
    transform: rotate(20deg);    
}


@media (max-width: $screen-sm-min) {
    .navbar-collapse .nav > .divider-vertical {
        display: none;
     }
}

.backmenubar > li > a{
  color: #c0c0c0;
  font-size: 18px;
  padding: 5px 0px;
  margin: 5px 10px;
}

.backmenubar > li.active > a, .backmenubar > li.active > a:hover {
    background-color: #fff;
    color: #c0c0c0;
    border-bottom: 2px solid #000;
}

.backmenubar{
  margin-left: 10px;
}

.backmenubar > li > a {
    border-radius: 0px;
}

 
