.field_with_errors {
  padding: 2px;
  background-color: #ec7e64;
  display: table;
}

#error_explanation {
  border-radius: 5px;
  width: 450px;
  border: 2px solid #ec7e64;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #ec7e64;
  opacity: 0.6;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: white;
  }

  ul li {
    font-size: 14px !important;
    color: white;
    font-size: 12px;
    list-style: square;
  }
}